@model UIServer.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    Html.EnableClientValidation();
}

<!-- MAIN CONTENT -->
@using (@Html.BeginForm("CompanyChangePassword", "SysUser", FormMethod.Post, new { @class = "lockscreen animated flipInY smart-form client-form" }))
{
    <div class="logo">
        <h1 class="semi-bold"><img src="/img/favicon/favicon.ico" alt="" /> Kaizen</h1>
    </div>
    <div>
        <img src="/Photo/UserLogin/@Kaizen.BusinessLogic.Master.GetMyPhoto(Model.UserName,Model.PhotoExtension)" alt="" width="120" height="120" />
        <div>
            <h1><i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile"></i>@Model.FirstName  @Model.LastName</h1>
            @Html.Hidden("UserName", Model.UserName)
          
            <fieldset>
                <section class="row margin-bottom-10">
                    <label class="label col-md-5">User</label>
                    <label class="input col-md-7">
                        <input type="text" class="form-control" value="@Model.UserName"
                               placeholder="UserName" ng-model="User.UserName" readonly />
                        @Html.ValidationMessageFor(m => m.UserName)

                    </label>
                </section>
                <section class="row margin-bottom-10">
                    <label class="label col-md-5">New Password</label>
                    <label class="input col-md-7">
                        <i class="icon-append fa fa-lock"></i>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your new password</b>
                    </label>
                </section>
                <section class="row margin-bottom-10">
                    <label class="label col-md-5">Confirm Password</label>
                    <label class="input col-md-7">
                        <i class="icon-append fa fa-lock"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Confirm your new password</b>
                    </label>
                </section>
                <footer class="row">
                    @*<a href="javascript:void(0);" class="btn btn-primary" ng-click="UpdatePassword();">
                        <i class="glyphicon glyphicon-edit"></i> Change Password
                    </a>*@
                    <button type="submit" class="btn btn-primary">
                        Change Password
                    </button>
                </footer>
            </fieldset>
        
        </div>
    </div>
    <p class="font-sm margin-top-5">
        Copyright Kaizen @DateTime.Now.Year
    </p>
 } 

<script>
    function onClick(e) {
        var url = "/SysUser/LogKaizenSession?CompanyID=" + dropdownlist.value();
        $.ajax({ url: url, success: DataRetrieved, type: 'POST', dataType: 'json' });
    };
    function UserLogout(e) {
        var url = "/SysUser/CompanySignOut";
        $.ajax({
            url: url, type: 'POST', success: function (result) {
                window.location.replace("/SysUser\\Login");
            }
        });
    };
    function DataRetrieved(data) {
        sessionStorage.PublicKey = data;
        window.location.replace("/Home/Index?KaizenPublicKey=" + sessionStorage.PublicKey);
    };
</script>

